<html>
    <head>
        
        <!------ Include the above in your HEAD tag ---------->
        
<link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <meta charset="utf-8">
  
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="" />
      
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      
      
      
        <!-- css -->
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700" rel="stylesheet">
        <link href="static/css/bootstrap.css" rel="stylesheet" />
        <link href="static/css/bootstrap-responsive.css" rel="stylesheet" />
        <link href="static/css/fancybox/jquery.fancybox.css" rel="stylesheet">
        <link href="static/css/jcarousel.css" rel="stylesheet" />
        <link href="static/css/flexslider.css" rel="stylesheet" />
        <link href="static/css/style.css" rel="stylesheet" />
        <!-- Theme skin -->
        <link href="static/skins/default.css" rel="stylesheet" />
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/ico/apple-touch-icon-144-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/ico/apple-touch-icon-114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/ico/apple-touch-icon-72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="static/ico/apple-touch-icon-57-precomposed.png" />
        <link rel="shortcut icon" href="static/ico/favicon.png" />
              <link rel="shortcut icon" href="static/img/favicon.png" />
              <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/ico/apple-touch-icon-144-precomposed.png" />
                <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/ico/apple-touch-icon-114-precomposed.png" />
                <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/ico/apple-touch-icon-72-precomposed.png" />
                <link rel="apple-touch-icon-precomposed" href="static/ico/apple-touch-icon-57-precomposed.png" />
              <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
              <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
              <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
              <!------ Include the above in your HEAD tag ---------->
              
      <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet">
              <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<style>
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
    </style>
        <header class="text-gray-600 body-font">
            <div class="container mx-auto flex flex-wrap p-1 flex-col md:flex-row items-center">
              <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <img src="{{ url_for('static', filename = 'img/logo.png') }}" id="icon" alt="User Icon" width="140px" height="140px"/>
                  <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="ml-3 text-xl"></span>
              </a>
              <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
                <a class="mr-5 hover:text-gray-900" href="{{ url_for('predict')}}" style="color: green;"><b>HOME</b></a>
                <a class="mr-5 hover:text-gray-900" href="predict#about"><b>ABOUT</b></a>
          <a class="mr-5 hover:text-gray-900" href="{{ url_for('dashboard')}}" ><b>DASHBOARD</b></a>
                <a class="mr-5 hover:text-gray-900" href="predict#content"><b>RELATED ARTICLES</b></a>
                <a class="mr-5 hover:text-gray-900" href="predict#guide"><b>GUIDE</b></a>
                <a class="mr-5 hover:text-gray-900" href="{{ url_for('se')}}" ><b>SEARCH</b></a>
                <a class="mr-5 hover:text-gray-900" href="{{ url_for('fertiliser')}}" ><b>FERTILIZERS</b></a>
            
            </nav>
                
            </div>
        
        <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet">
        <link rel="shortcut icon" href="static/ico/favicon.png" />
        </head>
    
    <body>
       
        <!-- <div class="row" >
                <form  action="{{ url_for('search')}}" autocomplete="off" method="post">
                <div class="col-lg-5">
                    <input id="myInput"  name="cro" type="text" placeholder="Seacrh A Crop">
                </div>

        
                <div class="col-lg-2">
                    <button class="btn btn-default" type="submit" value="Get Crop"><i class="fa fa-search"></i>click</button>
                </div>
                </form>
        </div> -->


        <div class="container">
            <br/>
            <div class="row justify-content-center">
                                <div class="col-12 col-md-10 col-lg-8">
                                    <form class="card card-sm" action="{{ url_for('search')}}" autocomplete="off" method="post">
                                        <div style="padding: 7px;border-radius: 7px;" class="card-body row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <i class="fas fa-search h4 text-body"></i>
                                            </div>
                                            <!--end of col-->
                                            <div class="col">
                                                <input id="myInput" name="cro" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search a Crop">
                                            </div>
                                            <!--end of col-->
                                            <div class="col-auto">
                                                <button class="btn btn-lg btn-success" type="submit">Search</button>
                                            </div>
                                            <!--end of col-->
                                        </div>
                                    </form>
                                </div>
                                <!--end of col-->
                            </div>
        </div>

 
            <hr>
            <section class="text-gray-600 body-font">
                <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
                  <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
                    <img src={{ ss }} id="icon" alt="User Icon" />
                  </div>
                  <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
                    <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Crop Details:
                      <br class="hidden lg:inline-block">
                    </h1>
                   
                  <div class="container">
                
                    <p align="justify">{% for para in sear%}
                 {{para.text}}
                  <br><br>
                        <br>
           {% endfor %}
            </p></div>
                    <br>
            <div class="flex justify-center">
                 
           
                   
                    </div>
                  </div>
                </div>
              </section>
              <footer>
                <div id="sub-footer">
                  <div class="container">
                    <div class="row">
                      <div class="span6">
                        <div class="copyright">
                         
                          <div class="credits">
                            <!--
                              All the links in the footer should remain intact.
                              You can delete the links only if you purchased the pro version.
                              Licensing information: https://bootstrapmade.com/license/
                              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Flattern
                            -->
                           <h5 style="color: white;"><b>CropsIT</b></h5>
                           <h6 style="font-size: 18px;color: green;"> Portable Soil Analysis and Crop Suggestion System</h6><p style="color: white;">CropsIT is an easily operable kiosk which senses the soil nutrient components and analyses the values obtained to provide a detailed report, along with crop suggestions suitable for the soil, instantaneously through a message service.The salient features of the model are Instantaneous analysis, suitable crops and estimated yield, suitable fertilizer to maintain fertility and effective communication through text.</p>
                          </div>
                        </div>
                      </div>
                    <div class="span3"> 
                      <p style="color: white;"><br><br>K Tharun Kumar Reddy <a href="mailto:17311A1961@gmail.com" >Mail</a><br>Y Rasagna <a href="mailto:17311A1964@sreenidhi.edu.in">Mail</a><br>R Sandeep<a href="mailto:17311A1966@sreenidhi.edu.in"> Mail</a>
                      </p>
          
                    </div>
                      <div class="span4">
                        <img src="static/img/logo.png" width="125px" height="125px" style="margin-left: 130%;">
                      </div>
                    </div>
                  </div>
                </div>
              </footer>
            </div>
          
                




      

    </body>
    <script>

    var inputs = document.getElementById("myInput");
    function autocomplete(inp, arr) {
        var currentFocus;
        inp.addEventListener("input", function(e) {
            var a, b, i, val = this.value;
            closeAllLists();
            if (!val) { return false;}
            currentFocus = -1;
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            this.parentNode.appendChild(a);
            for (i = 0; i < arr.length; i++) {
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    b = document.createElement("DIV");
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    b.addEventListener("click", function(e) {
                        inp.value = this.getElementsByTagName("input")[0].value;
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        inp.addEventListener("keydown", function(e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                currentFocus++;
                addActive(x);
            } 
            else if (e.keyCode == 38) {
                currentFocus--;
                addActive(x);
            } 
            else if (e.keyCode == 13) {
                e.preventDefault();
                if (currentFocus > -1) {
                    if (x) x[currentFocus].click();
                }
            }
        });
        function addActive(x) {
            if (!x) return false;
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }
function autocomplete1(inp, arr) {
/*the autocomplete function takes two arguments,
the text field element and an array of possible autocompleted values:*/
var currentFocus;
/*execute a function when someone writes in the text field:*/
inp.addEventListener("input", function(e) {
var a, b, i, val = this.value;
/*close any already open lists of autocompleted values*/
closeAllLists();
if (!val) { return false;}
currentFocus = -1;
/*create a DIV element that will contain the items (values):*/
a = document.createElement("DIV");
a.setAttribute("id", this.id + "autocomplete-list");
a.setAttribute("class", "autocomplete-items");
/*append the DIV element as a child of the autocomplete container:*/
this.parentNode.appendChild(a);
/*for each item in the array...*/
for (i = 0; i < arr.length; i++) {
/*check if the item starts with the same letters as the text field value:*/
if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
  /*create a DIV element for each matching element:*/
  b = document.createElement("DIV");
  /*make the matching letters bold:*/
  b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
  b.innerHTML += arr[i].substr(val.length);
  /*insert a input field that will hold the current array item's value:*/
  b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
  /*execute a function when someone clicks on the item value (DIV element):*/
  b.addEventListener("click", function(e) {
      /*insert the value for the autocomplete text field:*/
      inp.value = this.getElementsByTagName("input")[0].value;
      /*close the list of autocompleted values,
      (or any other open lists of autocompleted values:*/
      closeAllLists();
  });
  a.appendChild(b);
}
}
});
/*execute a function presses a key on the keyboard:*/
inp.addEventListener("keydown", function(e) {
var x = document.getElementById(this.id + "autocomplete-list");
if (x) x = x.getElementsByTagName("div");
if (e.keyCode == 40) {
/*If the arrow DOWN key is pressed,
increase the currentFocus variable:*/
currentFocus++;
/*and and make the current item more visible:*/
addActive(x);
} else if (e.keyCode == 38) { //up
/*If the arrow UP key is pressed,
decrease the currentFocus variable:*/
currentFocus--;
/*and and make the current item more visible:*/
addActive(x);
} else if (e.keyCode == 13) {
/*If the ENTER key is pressed, prevent the form from being submitted,*/
e.preventDefault();
if (currentFocus > -1) {
  /*and simulate a click on the "active" item:*/
  if (x) x[currentFocus].click();
}
}
});
function addActive(x) {
/*a function to classify an item as "active":*/
if (!x) return false;
/*start by removing the "active" class on all items:*/
removeActive(x);
if (currentFocus >= x.length) currentFocus = 0;
if (currentFocus < 0) currentFocus = (x.length - 1);
/*add class "autocomplete-active":*/
x[currentFocus].classList.add("autocomplete-active");
}
function removeActive(x) {
/*a function to remove the "active" class from all autocomplete items:*/
for (var i = 0; i < x.length; i++) {
x[i].classList.remove("autocomplete-active");
}
}
function closeAllLists(elmnt) {
/*close all autocomplete lists in the document,
except the one passed as an argument:*/
var x = document.getElementsByClassName("autocomplete-items");
for (var i = 0; i < x.length; i++) {
if (elmnt != x[i] && elmnt != inp) {
x[i].parentNode.removeChild(x[i]);
}
}
}
/*execute a function when someone clicks in the document:*/
document.addEventListener("click", function (e) {
closeAllLists(e.target);
});
}

var cropnames=['Maize', 'Sugarcane', 'Cotton', 'Tobacco', 'Paddy', 'Barley','Wheat','Millets','Oil seeds','Pulses', 'Ground Nuts']

autocomplete(document.getElementById("myInput"), cropnames);


</script>
</html>
